@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
.header {
    background-color: #fff;
    text-align: center;
    padding: 1.5rem 0;
  }
  /* header materials */
 .header .left{
     text-align: left;
     padding-top: 3rem;
 }
 .header .right{
    text-align: right;
    padding-top: 3rem;
}
.header .right a{
    padding-right: 5px;
    color: #2f3542;
}
.header .right i{
    font-size: 1.4em;
}
.header .right a:hover{
    color: blue;
    transition: ease-in 1s;
}

  /* end of header item  */
  
  #navbar {
    overflow: hidden;
    background-color: blue!important;
    box-shadow: 3px 0 5px blue;
    z-index: 21!important;
  }
  #navbar .nav-link{
      color: #fff;
      letter-spacing: .1em;
      font-size: 1em;
      padding-top: .8rem;
  }
  .navbar-brand{
      color: #fff;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* carousel */
  .h-landing-page .carousel-item{
      height: 60vh;
  }
  .h-landing-page .carousel-item img{
    height: 100%;
    width: 100%;
}

.heading h2{
    padding-top: 4rem;
    color: blue;
    font-weight: 700;
    text-shadow: 2px 2px 2px blue;
}
.heading div{
    
    background-color: blue;
    height: .1rem;
    margin: auto;
    display: block;
    width: 7rem;
}

/* events */
#h-events{
    background-color: #f1f2f6;
}
#h-events .events-text{
    padding: 2rem;
}
#h-events .events-text .btn-blue{
    border: 1px solid blue;
    padding: .5rem 1.5rem;
    color: blue;
    margin-top: 1rem;
    border-radius: 0;
}
#h-events .events-text .btn-blue:hover{
    border: 1px solid blue;
    background-color: blue;
    padding: .5rem 1.5rem;
    color: #fff;
    transition: ease-in .5s;
    text-shadow: 2px 2px 3px blue;
   

}
/* about */
#h-about{
    background: #2f3542;
    padding: 3rem 0 1rem 0;
    
}
#h-about img{
    margin: auto;
    display: block;
}
#h-about .events-text{
    padding: 2rem;
    color: #fff;
}
#h-about .events-text .btn-blue{
    border: 1px solid blue;
    padding: .5rem 1.5rem;
    background-color: blue;
    margin-top: 1rem;
    border-radius: 0;
    color: #fff;
}
#h-about .events-text .btn-blue:hover{

    background-color: #fff;
    padding: .5rem 1.5rem;
    color: blue;
    transition: ease-in .5s;
   border: none;

}
.heading-a h2{
    padding-top: 4rem;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 2px #2f3542;
}
.heading-a div{
    
    background-color: #fff;
    height: .1rem;
    margin: auto;
    display: block;
    width: 7rem;
}

/* foundation */
#foundation{
    background-color: #f1f2f6;
}
#foundation .container{
    margin-top: 2rem;
}
#foundation .carousel-item{
    height: 60vh;
}
#foundation .carousel-item img{
    height: 100%;
    width: 100%;
}
#foundation .foundation-info{
    padding-top: 3rem;
}
#foundation .foundation-info{
    padding-top: 3rem;
}
#foundation .foundation-info .heading{
    text-transform: uppercase;
    font-size: 1.4rem
}

#foundation .foundation-info .divider{
    background-color: blue;
    height: .1rem;
    display: block;
    width: 4rem;
}
/* accordian */
.accordion {
    margin-top: 2rem; /* Add space above accordion */
}
.accordion .card {
    border-radius: 0;
    border-width: 1px 0 1px 0;
}
.accordion .card:first-child {
    border-top: none;
}
.accordion .card .card-header {
    background: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
    margin-bottom: -2px;
    font-family: "Roboto", sans-serif;
}
.accordion .card-header:hover {
    background: blue;
    transition: ease-in .5s;
}
.accordion .card-header h2 span {
    float: left;
    margin-top: 10px;
}
.accordion .card-header .btn {
    font-size: 1.04rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
    position: relative;
    top: -2px;
    
}
.accordion .card-header i {
    float: right;
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.accordion .card-header button:hover {
    color: blue;
}
.accordion .card-body {
    background: #eaeaea;
    color: #595959;
}
.accordion .highlight {
    color: #fff;
    background: #202d3c !important;
}
/* accordian end  */
#foundation{
    padding-bottom: 4rem;
}
#foundation .foundation-info .date-upload{
    border: 1px solid blue;
    margin-top: 2rem;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 4px;
    height: 70px;
}

#foundation .foundation-info .date-upload h4{
    font-weight: bold;
    color: blue;

}
#foundation .foundation-info .image-upload {
    margin-top: 2rem;
    margin-left: 1rem;
}
#foundation .foundation-info .image-upload img{
    height: 70px;
    width: 60px;
    border-radius: 5px;
    border: .1rem solid blue;
}
#foundation .foundation-info .text{
    margin-top: 2rem;
    margin-left: .5rem;

}

#foundation .foundation-info .text H5{

    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
}
#foundation .foundation-info .text p{
    font-weight: light;
    font-size: .8em;
    margin: 0;
    color: gray;
}
#foundation .foundation-info .text p a{
    text-decoration: none;
    color: blue;
    font-size: .9em;
}
#foundation .foundation-info .text a.watch-now{
    color: blue;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

#foundation .foundation-info .see-all a.see-al{
    padding: .3rem 2rem;
    background-color: black;
    color: white;
    font-size: .9rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
#foundation .foundation-info .see-all a.see-al:hover{
    background-color: blue;

}

#youtube-map .youtube-text{
    margin: 4rem 2rem 0 2rem;
}

#youtube-map .youtube-text h4{
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 2em;
    color: blue;
}
#youtube-map .youtube-text p{
    font-weight: bold;
    margin: 0;
    font-size: 1.3em;
}
#youtube-map .iframe-c{
    width: 100%;
}

/* testimonies side */

#testimonies-side{
    background-color: #f1f2f6;
}

#testimonies-side .wrap{
    width: 80%;
    margin: auto
}

#testimonies-side .wrap .content{
    color: gray;
    font-size: .9em;
    margin-top: 1rem;
}
#testimonies-side  .image{
    height: 130px;
    width: 130px;
    margin: auto;
}
#testimonies-side  .image img{
    border-radius: 100%;
    height: 130px;
    width: 130px;
    border: .2rem solid #2f3542;
}

#testimonies-side .text-body h3{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: blue!important;
}

#testimonies-side .text-body p{
    font-size: .9rem;
    color: gray;
}

#testimonies-side .all-test a{
    color: white;
background-color: #000;
padding: .3rem 2rem;
transition: all 300ms ease-in-out;
text-decoration: none;
margin-top: 1rem;
}


#testimonies-side .all-test a:hover{
    background-color: blue;
}

#testimonies-side .c-turn{
    background-color: white!important;
    padding: 1.7rem 0;
    margin-top: 3rem;
}

#testimonies-side .c-turn .test-detail h4{
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
}

#testimonies-side .c-turn .test-detail p{
    font-size: .9rem;
    color: rgba(0, 0, 255, 0.646);
}

#testimonies-side .c-turn .t-btn{
    text-align: right;
    margin-top: 1rem;
}
#testimonies-side .c-turn .t-btn a{
    background-color: blue;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: .4rem 2.5rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
#testimonies-side .c-turn .t-btn a:hover{
    background-color: #2f3542;
}

/* footer */
#footer{
    background-color:#000;
    padding-top: 2rem;
}

#footer .text{
    color: gray;
}
#footer .line{
    width: 80px;
    height: 3px;
    background-color: #ccc;
    margin-bottom: 1rem;
}
#footer .text h4{
    font-weight: light;
    font-size: 1.2rem;
    text-transform: uppercase;

}
#footer .text p{
font-size: .8rem;
color: #ccc;
}#footer .text p a{
    color: rgb(255, 253, 253);

}

#footer .blue-sectin{
    background-color: blue;
}
#footer .blue-sectin  .c-details{
    color: white;
    padding-top: .9rem;
    font-size: .9rem;
}
#footer .social-ul {
    padding: .9rem;
    text-align: right;
}
#footer .social-ul i{
    color: white;
    padding-left: .6rem;
    font-size: 1.4rem;
}




